$color-white-1: #FFFFFF;
$color-white-2: #F8F9FC;
$color-white-3: #D7F8FF;
$color-gray-1: #c0bfcf;
$color-gray-2: #9D9DB5;
$header-color: #192140;
$dark-color: #10131C;
$yellow-color: #dcf10d;
$button-color: #0266FF;